### Dữ liệu nhiệt độ theo vùng (Định dạng .csv)
- Đọc trực tiếp lệnh `read.csv()`
- Dữ liệu phân tách giữa các cột bằng ký tự ";" (sep = ';')
- Hàng đầu thể hiện tên các biến (header = T)
- Cột đầu thể hiện tên các vùng khác nhau (row.names = 1)

In [33]:
temp = 'https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/EY-2aXVlJBRCtq8dbEG6yXoBEv2SxBg-b2H1ASD_jPLyfg?download=1'
raw_dat = read.csv(temp,header=T,row.names=1,sep=';')
head(raw_dat,5)

         Janv Févr Mars Avri Mai  Juin juil Août Sept Octo Nove Déce Lati
Bordeaux 5.6  6.6  10.3 12.8 15.8 19.3 20.9 21.0 18.6 13.8 9.1  6.2  44.50
Brest    6.1  5.8   7.8  9.2 11.6 14.4 15.6 16.0 14.7 12.0 9.0  7.0  48.24
Clermont 2.6  3.7   7.5 10.3 13.8 17.3 19.4 19.1 16.2 11.2 6.6  3.6  45.47
Grenoble 1.5  3.2   7.7 10.6 14.5 17.8 20.1 19.5 16.7 11.4 6.5  2.3  45.10
Lille    2.4  2.9   6.0  8.9 12.4 15.3 17.1 17.1 14.7 10.4 6.1  3.5  50.38
         Long  Moye  Ampl Région
Bordeaux -0.34 13.33 15.4 SO
Brest    -4.29 10.77 10.2 NO
Clermont  3.05 10.94 16.8 SE
Grenoble  5.43 10.98 18.6 SE
Lille     3.04  9.73 14.7 NE

### Dữ liệu cà chua 1 (Phân nhóm theo cột, định dạng .csv)
- Đọc trực tiếp `read.csv()`
- Phân tách giữa các cột trong file bằng ký tự tab (sep = '\t' )
- Cột đầu tiên là tên các đặc tính tiêng biệt (row.names = 1)

In [7]:
tomato1 = 'https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/EcaYBxmbbsZDpjRspOqGVb0B7xux5XJxLcK3s-BHx6PxDA?download=1'
dat = read.csv(file2,header=1,sep='\t',row.names=1)
head(dat,5)

          Dim.1 Dim.2 Dim.3       Dim.4       Dim.5
Ext_Color  0.96  0.24 -0.04072473  0.08657336 -0.07112397
Firm       0.51 -0.86 -0.00037378 -0.04480631  0.01422348
Melty     -0.56  0.83 -0.09117102 -0.02106699  0.02429178
Mealy     -0.88 -0.14  0.46046582  0.04700819 -0.01740027
Sweet      0.86  0.42  0.27443751 -0.11440795 -0.02172172

### Dữ liệu cà chua (Định dạng .txt)
- Đọc trực tiếp bằng hàm `read.table()`
- Có headers (header = T)
- Cột đầu tiên tên phân nhóm (row.names=1)

In [29]:
tomato2 = 'https://hcmuteduvn-my.sharepoint.com/:t:/g/personal/tquang_sdh20_hcmut_edu_vn/EcVF40PDFKZAuG_q3X062VkBng2C1hZw_E9R3350LEXztg?download=1'
dat = read.table(tomato2,header=T,row.names=1)
head(dat2,5)

  Ext_Color Firm Melty Mealy Sweet Tomato_Flavor
A 8.43      5.46 4.50  0.50  6.89  8.00
B 4.79      2.39 7.07  6.39  3.96  4.29
C 6.79      6.96 3.29  1.61  4.11  5.46
D 4.25      6.39 3.96  5.07  2.89  3.93
E 6.89      6.32 3.61  2.46  4.18  6.25

### Dữ liệu về Rượu (Định dạng .txt)
Đọc trực tiếp `read.table()`

In [19]:
wine = 'https://hcmuteduvn-my.sharepoint.com/:t:/g/personal/tquang_sdh20_hcmut_edu_vn/Ed7o9gC0FghKmKSUrtypTVkBrwy14HodCVHpQS8qJ8vieA?download=1'
wine_dat = read.table(wine,header=T,row.names=1)
head(wine_dat,5)

      Hedonic Beef Dessert Price Sugar Alcohol Acidity
Wine1 14      7    8        7    7     13      7
Wine2 10      7    6        4    3     14      7
Wine3  8      5    5       10    5     12      5
Wine4  2      4    7       16    7     11      3
Wine5  6      2    4       13    3     10      3

### READING DATA Prod (Định Dạng Excel tải về [tại đây]('https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/Efxhcd5REjRKl0y0oTZSZh0B4-wU7gHoTLItUf1l4jZr6A?download=1'))

In [28]:
#path = Đường dẫn C:\\Users\\...\\file.xls hoặc C:/Users/.../file.xls (macOS)
path = 'C:/Users/Joseph/...../Prod_caract.xls'
dat = read_excel(path,col_names=T,sheet='data',range="A1:S31")
head(dat,5)

  label country of product origin of salmon N : norway S : Scotland I : Ireland
1 2     F                  N
2 5     F                  N
3 7     F                  N
4 8     F                  S
5 9     G                  N
  water lipid TVBN TMA salt phenol pH   total viable count lactic flora
1 61.56 14.00 16   0   2.8  0.53   6.23 5.672098           5.161368
2 60.99 12.79 21   4   3.0  0.68   6.21 6.340000           2.600000
3 62.46 11.77 22   7   3.1  0.83   6.16 7.161368           5.633468
4 61.66 10.56 17   0   3.1  0.50   6.15 4.930000           0.000000
5 59.88 10.93 16   0   4.3  0.53   6.12 2.176091           0.000000
  lactobacilli brochothrix yeast    enterobacteriaceae L*       a*
1 5.301030     2.544068    3.278754 4.58               55.07111 26.16000
2 2.870000     0.000000    4.060000 4.14               54.62222 30.57889
3 3.544068     2.740363    2.397940 3.48               49.04111 30.06444
4 0.000000     0.000000    0.000000 0.00               52.81889 35.14000
5 0.000000     0.000000    0.000000 1.18               47.42889 31.34667
  b*
1 24.28222
2 29.32444
3 26.91778
4 37.78333
5 27.87222