<center><h1>Phân tích tương quan</h1></center>

### Dữ liệu Music (Định dạng .csv)
- Sử dụng lệnh `read.csv()`
- Hàng đầu thể hiện tên các biến (header = TRUE)
- Cột đầu tiên thể hiện tên các màu sắc riêng biệt (row.names = 1)
- Dữ liệu giữa các cột cách nhau bằng **một tab** (sep = '\t')  

<b>Mô tả dữ liệu:</b>
22 subjects were presented with 9 “pieces of music” and asked to 1 to 10 colors to each of pieces of music. The pieces of music were: (1) the music of a video game (video), a jazz song (jazz), (3) a country and Western song (country), (4) a rap song (rap), (5) a pop song (pop), (6) an extract of the opera Carmen (opera), (7) the low F note played on a piano (low F), (8) the middle F note played on the same piano, (9) the high F note still played on the same piano. The data were showed on the table where the columns are the pieces of music, the rows are the colors, and the number at the intersection of the row and the column give the number of time the color in the row associated with the piece of music in the column.

In [7]:
music = 'https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/EcrLzPHl2sVAp2zEaeSHYzABDShEIRoz22qthyRpx85tJA?download=1'
music_dat = read.csv(music
                    ,header = T
                    ,row.names = 1
                    ,sep = '\t')
#Show 5 rows of music data
head(music_dat,5)

       Video Jazz Country Rap Pop Opera LowF HighF MidddleF
red    4     2    4       4   1   2     2    4     1
orange 3     4    2       2   1   1     0    3     2
yellow 6     4    5       2   3   1     1    3     0
green  2     0    5       1   3   3     3    1     5
blue   2     5    0       1   4   1     2    1     3

### Dữ liệu giải Nobel (Định dạng .csv)
- Sử dụng `read.csv()` để đọc trực tiếp
- Hàng đầu thể hiện tên các giải thưởng riêng biệt (header = T)
- Cột đầu tên các vùng riêng biệt (row.names = 1)
- Dữ liệu các cột cách nhau bằng ký tự ";" (sep = ';')

In [8]:
nobel = 'https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/EZJ-SAFHQuFDqe5JI1GxI7EB1Ck62CMuwymrXyD1oL8l-A?download=1'
nobel_dat = read.csv(nobel
                     ,header=T
                     ,row.names=1
                     ,sep=';')
head(nobel_dat,5)

          Chimie Economie Littérature Médecine Paix Physique Mathématiques
Allemagne 24     1         8          18        5   24        1
Canada     4     3         2           4        1    4        1
France     8     3        11          12       10    9       11
GB        23     6         7          26       11   20        4
Italie     1     1         6           5        1    5        1

### Dữ liệu (work_women.csv)
Đọc dữ liệu như trên

In [10]:
work = 'https://hcmuteduvn-my.sharepoint.com/:x:/g/personal/tquang_sdh20_hcmut_edu_vn/Edo61seGmOFOhub8FFh1xEYBdGLRjTbLHN_iFFkXjicLLA?download=1'
work_dat = read.csv(work
                    ,header=T
                    ,row.names=1
                    ,sep=';')
head(work_dat)

                          stay.at.home part.time.work full.time.work
Both parents work equally  13          142            106
Husband works more         30          408            117
Only the husband works    241          573             94
                          women.cut.off.from.the.world..totally.agree
Both parents work equally 107
Husband works more        192
Only the husband works    140
                          women.cut.off.from.the.world..mostly.agree
Both parents work equally  75
Husband works more        175
Only the husband works    215
                          women.cut.off.from.the.world..mostly.disagree
Both parents work equally  40
Husband works more        100
Only the husband works    254
                          women.cut.off.from.the.world..totally.disagree
Both parents work equally  39
Husband works more         88
Only the husband works    299